<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="reprator.wipro.factlist">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application android:allowBackup="false"
        android:label="UI Test"
        android:supportsRtl="false">
        <activity
            android:name="reprator.wipro.factlist.HiltTestActivity"
            android:theme="@style/Theme.Wipro"
            android:exported="false" />
    </application>

</manifest>