<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="reprator.wipro.factlist">

    <application android:allowBackup="false"
        android:label="UI Test"
        android:usesCleartextTraffic="true"
        tools:targetApi="m"
        android:supportsRtl="false">
        <activity
            android:name=".HiltTestActivity"
            android:theme="@style/Theme.Wipro"
            android:exported="false"  />
    </application>

</manifest>